<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
	<!-- 출력설정 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
 
	<!-- 하이버네이트 -->
	<logger name="org.hibernate.SQL" level="DEBUG">
		<appender-ref ref="console" />
	</logger>
	<!-- 하이버네이트 -->
	<logger name="org.hibernate.type" level="TRACE">
		<appender-ref ref="console" />
	</logger>
	<!-- 하이버네이트 -->
	<logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG">
		<appender-ref ref="console" />
	</logger>
	<!-- 히카리CP -->
	<logger name="com.zaxxer.hikari" level="INFO">
		<appender-ref ref="console" />
	</logger>
	<!-- 스프링 -->
	<logger name="org.springframework" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>
	
	<root level="debug">
    	<appender-ref ref="console" />
  	</root>
	<!-- <logger name="selenium.*" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger> -->
 
</configuration>